<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
</head>
<body>
<video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="1000"
    height="800"
    data-setup="{}"
  >
    <source src="http://127.0.0.1:8000/video/{{path}}" type="video/mp4" />
    <source src="http://127.0.0.1:8000/video/{{path}}" type="video/webm" />
  </video>

  <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
</body>
</html>